<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovozli yordamchi - Aqlli doktor</title>
</head>
<body>
    <div>
        <h1>Ovozni matnga aylantirish</h1>
        <br>
        <button>Ovozni yozish</button>
    </div>
    <script src="{{ url_for("static", filename="vendor/js/jquery-3.6.0.min.js") }}"></script>
    <script type="text/javascript">
        const recordAudio = () =>
            new Promise(async resolve => {
                const stream = await navigator.mediaDevices.getUserMedia({
                    audio: true
                });
                const mediaRecorder = new MediaRecorder(stream);
                const audioChunks = [];

                mediaRecorder.addEventListener("dataavailable", event => {
                    audioChunks.push(event.data);
                });

                const start = () => mediaRecorder.start();

                const stop = () =>
                    new Promise(resolve => {
                        mediaRecorder.addEventListener("stop", () => {
                            console.log(audioChunks)
                            const audioBlob = new Blob(audioChunks);
                            const audioUrl = URL.createObjectURL(audioBlob);
                            const audio = new Audio(audioUrl);
                            const play = () => audio.play();
                            resolve({
                                audioBlob,
                                audioUrl,
                                play
                            });
                        });

                        mediaRecorder.stop();
                    });

                resolve({
                    start,
                    stop
                });
            });

        const sleep = time => new Promise(resolve => setTimeout(resolve, time));
        $("button").on("click", () => {
            (async () => {
                const recorder = await recordAudio();
                recorder.start();
                await sleep(3000);
                const audio = await recorder.stop();
                audio.play();
            })();
        })
    </script>
</body>
</html>